<footer class="footer">
  <div class="grupo1">
    <div class="container1">
      <label for="">TomDev</label>
      <p>Desarrollador Web FullStack</p>
    </div>
    <div class="container2">
      <h2>Conocenos</h2>
      <p>
        Lorem ipsum dolor,quaerat a! Esse voluptatum, amet placeat corrupti
        ipsam iusto natus officiis.
      </p>
      <p>
        Lorem ipsum dolor,quaerat a! Esse voluptatum, amet placeat corrupti
        ipsam iusto natus officiis.
      </p>
    </div>
    <div class="container3">
      <h2>Redes Sociales</h2>
      <div class="box_sociales">
        <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
        <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
        <a class="instagram" href="#"><i class="fa fa-instagram"></i></a>
        <a class="youtube" href="#"><i class="fa fa-youtube"></i></a>
      </div>
    </div>
  </div>
  <div class="grupo2">
    <p>Todos los derechos reservados @2023 - <span>TomDev</span></p>
    
  </div>
</footer>