<body>
  <div class="contactUs">
    <div class="title">
      <h2>Contáctanos</h2>
    </div>
    <div class="box">
      <!--Form Box-->
      <div class="contact form">
        <h3>Envia un mensaje</h3>
        <form>
          <div class="formBox">
            <div class="row50">
              <div class="inputBox">
                <span>Nombre</span>
                <input type="text" required placeholder="Ingrese su Nombre" />
              </div>
              <div class="inputBox">
                <span>Apellidos</span>
                <input type="text" required placeholder="Ingrese su Apellido" />
              </div>
            </div>
            <div class="row50">
              <div class="inputBox">
                <span>Email</span>
                <input type="text" required placeholder="email@correo.com" />
              </div>
              <div class="inputBox">
                <span>Teléfono</span>
                <input type="text" required placeholder="Ingrese su Teléfono" />
              </div>
            </div>
            <div class="row100">
              <div class="inputBox">
                <span>Mensaje</span>
                <textarea placeholder="Escriba su mensaje aqui..."></textarea>
              </div>
            </div>
            <div class="row100">
              <div class="inputBox">
                <input type="submit" value="Enviar" />
              </div>
            </div>
          </div>
        </form>
      </div>

      <!--Info Box-->
      <div class="contact info">
        <h3>Información de la empresa:</h3>
        <div class="infoBox">
          <div>
            <span><i class="fa fa-location-dot"></i></span>
            <p>Jr.Jorge Chavez mz E lote 12 <br />Callao</p>
          </div>
          <div>
            <span><i class="fa fa-envelope"></i></span>
            <a href="mailto:tolortegui@gmail.com">tolortegui@gmail.com</a>
          </div>
          <div>
            <span><i class="fa fa-phone"></i></span>
            <a href="tel:+51969089708">51969089708</a>
          </div>
          <!--Social Media Links-->
          <ul class="sci">
            <li>
              <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-instagram"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>

      <!--Map Box-->
      <div class="contact map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3902.8226555862384!2d-77.12233888517099!3d-11.986770144050979!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105cdc677f60cad%3A0x290828507326e27c!2sInternet%20Movitec%20Peru%20E.I.R.L!5e0!3m2!1ses-419!2spe!4v1679787614565!5m2!1ses-419!2spe"
          
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </div>
</body>
