
<!--SLIDER-->
<div class="slider">
    <ul>
        <li><img src="../../../assets/img/carousel1.jpg" alt=""></li>
        <li><img src="../../../assets/img/carousel2.jpg" alt=""></li>
        <li><img src="../../../assets/img/carousel3.jpg" alt=""></li>      
        
    </ul>
    
</div>
<!--LOS PLANES DE INTERNET-->
<div class="productos">
    <h1>Contrata Nuestros planes  de <br> Internet <br> <br><strong>100% Fibra Óptica</strong>  </h1>
    <div class="cards">
        <div class="card">
            <div class="icono">
                <img src="../../../assets/img/logo home.JPG">
            </div>
            <div class="info">
                <p class="subtitulo">Plan Hogar</p> <p>200 mbps <br> 100% Fibra óptica</p>
                <a routerLink="/contact">Lo quiero</a>
            </div>
        </div>
        <div class="card">
            <div class="icono" >
                <img src="../../../assets/img/gamer.png">
            </div>
            <div class="info">
                <p class="subtitulo">Plan Gamer</p> <p>400 mbps <br> 100% Fibra óptica</p>
                <a routerLink="/contact">Lo quiero</a>
            </div>
        </div>
        <div class="card">
            <div class="icono">
                <img src="../../../assets/img/negocio.jpg">
            </div>
            <div class="info">
                <p class="subtitulo">Plan Negocio</p> <p>600 mbps <br> 100% Fibra óptica</p>
                <a class="boton_contacto" routerLink="/contact">Lo quiero</a>
            </div>
        </div>
    </div>

</div>

<!--BENEFICIOS-->

<div class="beneficios">
    <h1>¿CUÁLES SON LOS BENEFICIOS DE <br> <br> NUESTROS PLANES?</h1>
    <div class="cards_beneficios">
        <div class="card_beneficio1">
            <div class="icono">
                <img src="../../../assets/img/speedy.png" alt="">
            </div>
            <h4> <strong>Velocidad simétrica</strong> </h4>
            <div class="recta"></div>
            <p>Descarga y sube archivos a la misma velocidad</p>
        </div>
        <div class="card_beneficio2">
            <div class="icono">
                <img src="../../../assets/img/devices.png" alt="">
            </div>
            
            <h4> <strong>Simultaneidad de Conexión</strong></h4>
            <div class="recta"></div>
            <p>Conecta la mayor cantidad de dispositivos a la vez sin afectar la velocidad del plan de internet contratado</p>
        </div>
        <div class="card_beneficio3">
            <div class="icono">
                <img src="../../../assets/img/fibra.png" alt="">
            </div>
            <h4> <strong>Mayor estabilidad</strong></h4>
            <div class="recta"></div>
            <p>Conexión 100% fibra óptica hasta tu hogar (FTTH).</p>
        </div>
        <div class="card_beneficio4">
            <div class="icono">
                <img src="../../../assets/img/smartv.png" alt="">
            </div>
            <h4> <strong>Lo mejor en entretenimiento</strong></h4>
            <div class="recta"></div>
            <p>Con tus planes de internet MOVITEC gratis tendras <strong>TV+</strong> , donde podrás disfrutar de las mejores peliculas y Series, como lo mejor en deporte</p>
        </div>
    </div>
</div>


<!--CAMBIATE A MOVITEC-->

.