<div class="titulo text-center" >
    <h1>Conoce los Planes que tenemos para ti</h1>
    <h1> <strong>¡Sin plazo de permanencia ni penalidades!</strong> </h1>
    <h3>* Cambiate a <strong>Internet Movitec</strong>  y te duplicamos la velocidad por <strong>3 meses</strong> </h3>
</div>

<!--LOS PLANES DE INTERNET-->

<div class="productos">   
    <div class="cards">
        <div class="card">
            <div class="icono">
                <img src="../../../assets/img/logo home.JPG">
            </div>
            <div class="info">
                <p class="subtitulo">Plan Hogar</p>
                <p class="velocidad">100 mbps</p>
                <h3 style="font-size: 25px ;"> <strong>*200 mbps</strong> por 3 meses </h3>
                <h4 class="precio mt20"> <strong> S/.90</strong> al mes</h4>
                <img style="width: 40px;" class="mt20"  src="../../../assets/img/fibra.png" alt="">
                <p>100% Fibra óptica</p> 
                <img  class="mb20" style="width: 40px;" class="mt20" src="../../../assets/img/logo descarga.JPG" alt="">
                <p>Internet Ilimitado y simetrico</p>
                <img style="width: 40px;" class="mt20" src="../../../assets/img/velocidad.png" alt="">
                <p class="mb40">Mayor velocidad</p>
                <a routerLink="/contact">¡Lo quiero!</a>
            </div>
        </div>

        <div class="card">
            <div class="icono" >
                <img src="../../../assets/img/gamer.png">
            </div>
            <div class="info">
                <p class="subtitulo">Plan Gamer</p>
                <p class="velocidad">200 mbps</p>
                <h3 style="font-size: 25px ;"> <strong>*400 mbps</strong> por 3 meses </h3>
                <h4 class="precio mt20"> <strong> S/.150</strong> al mes</h4>
                <img style="width: 40px;" class="mt20"  src="../../../assets/img/fibra.png" alt="">
                <p>100% Fibra óptica</p> 
                <img  class="mb20" style="width: 40px;" class="mt20" src="../../../assets/img/logo descarga.JPG" alt="">
                <p>Internet Ilimitado y simetrico</p>
                <img style="width: 40px;" class="mt20" src="../../../assets/img/velocidad.png" alt="">
                <p class="mb40">Mayor velocidad</p>
                <a routerLink="/contact">¡Lo quiero!</a>
            </div>
        </div>
        <div class="card">
            <div class="icono">
                <img src="../../../assets/img/negocio.jpg">
            </div>
            <div class="info">
                <p class="subtitulo">Plan Negocio</p>
                <p class="velocidad">400 mbps</p>
                <h3 style="font-size: 25px ;"> <strong>*800 mbps</strong> por 3 meses </h3>
                <h4 class="precio mt20"> <strong> S/.250</strong> al mes</h4>
                <img style="width: 40px;" class="mt20"  src="../../../assets/img/fibra.png" alt="">
                <p>100% Fibra óptica</p> 
                <img  class="mb20" style="width: 40px;" class="mt20" src="../../../assets/img/logo descarga.JPG" alt="">
                <p>Internet Ilimitado y simetrico</p>
                <img style="width: 40px;" class="mt20" src="../../../assets/img/velocidad.png" alt="">
                <p class="mb40">Mayor velocidad</p>
                <a class="boton_contacto" routerLink="/contact">¡Lo quiero!</a>
            </div>
        </div>
    </div>

</div>